@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu',sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}
.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 23px;
    background-image: url("bg.jpg");
    background-size: 1400px;
    
}

.bottom{
    position: sticky;
    height: 120px;
    background-color: black;
    bottom: 0;
    color: white;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 15px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.songItemContainer{
    margin-top: 75px;
}

.songItem img{
    width: 45px;
    margin: 0px 23px;
    /* margin-left: 4px; */
    border-radius: 4px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: rgba(128, 22, 15, 0.281);
    /* width: 65%; */
    justify-content: space-between;
    align-items: center;
    margin: 12px 0px;
    border-radius: 35px;
}

.songListPlay i{
    margin: 5px;
    cursor: pointer;
}
.songListPlay{
    margin-right: 10px;
    margin-left: 10px;
}

.songInfo{
    position: absolute;
    left:9.5vw; 
    /* use vw instead of px */
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
    margin-left: 9.5px;
}